<a href="https://colab.research.google.com/github/Aadarsha-Pokhrel/Python-SIC/blob/main/Exercise1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1.

Question1.
Print the following output with only one line of code and using only print and scape sequences.

In [9]:
print("   A\n"," AAA\n" ,"AAAAA\n", " AAA\n","  A")

   A
  AAA
 AAAAA
  AAA
   A

Question2.
Print the following output with one line of code.

In [10]:
print("_It's my name - Rubina Joshi. \n And I Studied in IOE Campus_")

_It's my name - Rubina Joshi.
 And I Studied in IOE Campus_

Question3.Print the following output with one line of code.

In [11]:
print('Day"s and \\night')

Day"s and \night

Question4.

In [22]:
string1 = "HELLOW WORLD"
print("The last character is",string1[-1])
print("The fourth character is ",string1[3])

The last character is D
The fourth character is  L

Question5.
print THRIA using using string slicing and cancantinating them.

In [28]:
string2 = "PYTHON TUTORIAL"
new_string = string2.split()
new_string[0][2:4]+new_string[1][4:7]

'THRIA'

In [29]:
print("5! = ",(5*4*3*2*1))
print("10! = ",(10*9*8*7*6*5*4*3*2*1))

5! =  120
10! =  3628800

Question6.

In [30]:
radius = int(input("Enter the radius of circle"))
PI = 3.14

circumference = 2*PI*radius
area = PI*radius*radius

print("The circumference of the circle is ",circumference)
print("The area of circle is ",area)

Enter the radius of circle3
The circumference of the circle is  18.84
The area of circle is  28.259999999999998

Question7.

In [35]:
n=2
print("a    n     a**n")
for i in range(2,7):
    print(i,"   ",n,"   ",i**n)

a    n     a**n
2     2     4
3     2     9
4     2     16
5     2     25
6     2     36

Question9.

In [36]:

numbers = input("Enter x and y coordinate :")

[x,y] = (numbers.split())
x = int(x)
y = int(y)

origin = False
if(x==0 and y==0):
    print("It lies in origin")
    origin = True

if(x>0 and  (not origin)):
    if(y>0):
        print("It is in first quadrant")
    else:
        print("fourth quadrant")
else:
    if(y>0):
        print("Second quadrant")
    else:
        print("Third quadrant")

Enter x and y coordinate :-8 -6
Third quadrant

Question10.
Develop a menu ordering program for Yummy Restaurant. Show the following menu to the user and
and let the user select one. If the given input alphabet is not in the menu, print 'enter the menu
again:' and receive another input.

In [39]:

print("-Bruger(enter b)")
print("-Chicken(enter c)")
print("-Pizza(enter p)")
choice = input("Choose a menu(enter b,c,p) : ")

while(choice not in 'bcp'):
    choice = input("Choose a menu(enter b,c,p) : ")

if(choice == 'b'):
    print("You choose burger")
elif(choice=='c'):
    print("You choose chicken")
else:
    print("You choose pizza")

-Bruger(enter b)
-Chicken(enter c)
-Pizza(enter p)
Choose a menu(enter b,c,p) : o
Choose a menu(enter b,c,p) : b
You choose burger

Question11.
print the biggest number between three

In [49]:
numbers = input("Enter there number: ")
nums = numbers.split()
num1,num2,num3 = nums

num1 = int(num1)
num2 = int(num2)
num3 = int(num3)

if(num1>num2 and num1>num3):
    print(num1,"is greatest")
elif(num2>num1 and num2>num3):
    print(num2,"is greatest")
else:
    print(num3,"is greatest")

Enter there number: 3 9 4
<class 'int'>
9 is greatest

Question12.